/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body {
  max-width: 1024px;
  width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */

body {
  font: normal 400;
  font-size: 100%;
  line-height: 1.75em;
  /*also written as...  font: normal normal 400 100%/1.5em;*/
  font-family: Avenir, Verdana, sans-serif;
}

p {
  position: relative;
  left: 20%;
  margin-bottom: 0.5rem;
  margin-right: 0;
  /* width: 55%; */
}

code {
  font: normal normal;
  font-size: 90%;
  /*line-height: 1em;*/
  font-family: Monaco, Menlo, monospace, sans-serif;
  color: #aaa;
}

p code {
  position: absolute;
  text-align: right;
  right: 0;
}

h1 {
  padding: 1rem 0;
}

h1,
p,
ul {
  left: 20%;
  width: 70%;
}

p:has(code) {
  display: flex;
  justify-content: space-between;
}

ul {
  position: relative;
  left: 20%;
  /* width: 75%; */
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
}

/*uncomment to get dashes in the list*/
li:before {
  content: '-';
  position: relative;
  left: -1rem;
  padding-left: 1rem;
}

li {
  /*second line indent*/
  padding-left: 1.25rem;
  text-indent: -1rem;
  /*color: #777;*/
}

li ul {
  position: relative;
  left: 0;
  width: 90%;
  margin-top: 0.25rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: Avenir, Cousine, Verdana, sans-serif;
  /* width: 80%; */
}

h1 {
  text-align: left;
  font-size: 3em;
  line-height: 1em;
  position: relative;
  left: 20%;
}

h1 + p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
}

h2 {
  font-size: 1.1em;
  color: #bc412b;
  margin-top: 1.5rem;
  position: relative;
  top: 1.4em;
  text-align: right;
  width: 15%;
}

h3 {
  min-height: 22px;
  font-size: 0.75em;
  line-height: 1em;
  position: relative;
  top: 1.7rem;
  text-align: right;
  width: 15%;
}

a {
  color: inherit;
  /*text-decoration:none*/
}

a:hover {
  color: #39f;
}

a {
  color: #bc412b;
  font-family: Monaco, Menlo, monospace, sans-serif;
  text-decoration: none;
}

em {
  /* font-weight: bold; */
  font-style: italic;
}

strong {
  font-weight: bold;
}

#address {
  display: none;
}

.flex {
  display: flex;
}

.feedback-image {
  width: 250px;
  display: block;
  padding: 6px;
  margin-top: 1rem;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

@media screen and (max-width: 980px) {
  p:has(code) {
    display: flex;
    flex-direction: column;
  }
  i {
    display: block;
    white-space: pre;
    margin-right: 2rem;
  }

  p code {
    position: relative;
  }

  html,
  body {
    width: 100%;
    line-height: 5em;
  }
  h1,
  p,
  ul {
    left: 5%;
    width: 90%;
  }

  h2,
  h3 {
    width: 95%;
    text-align: left;
    margin: 2rem 0;
    left: 5%;
  }

  #content {
    margin: 4rem 0;
  }

  p span {
    display: block;
  }

  .feedback-image {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    max-width: 1440px;
    width: 100%;
  }
}
